<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reset Your Password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/password_flow.css' %}">
</head>
<body>
  <div class="wrapper">
    <div class="card">
      {% if form.errors %}
        <div class="errors">
          {{ form.errors }}
        </div>
      {% endif %}

      <h2>Set New Password</h2>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Reset Password</button>
      </form>
    </div>
  </div>
</body>
</html>
